.App {
  text-align: center;
}

button{
  font-size: 18px;
  padding: 6px;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



